<app-home-slideshow></app-home-slideshow>
<div class="container py-2">
    <!-- <h2 class="text-center">Our Services</h2> -->
    <!-- <h2 class="colorful-text text-center mb-4">Our Services</h2> -->
    <h2 class="animated-colorful-text text-center mb-4">Book Now : 9665762680</h2>
    <p class="text-center mb-5">Explore our wide range of car rental services designed to meet your needs.</p>
    <div class="row">
        <div class="col-md-3">
            <div class="service-card">
                <img src="assets/carService1.webp" class="img-fluid" alt="Service 1">
                <h4 class="mt-3">Corporate Car Rent</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="service-card">
                <img src="assets/carService2.jpg" class="img-fluid" alt="Service 2">
                <h4 class="mt-3">Hillstation Package</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="service-card">
                <img src="assets/outstation.jpg" class="img-fluid" alt="Service 3">
                <h4 class="mt-3">Outstation</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="service-card">
                <img src="assets/airport.jpg" class="img-fluid" alt="Service 4">
                <h4 class="mt-3">Airport Pickup & Drop</h4>
            </div>
        </div>
    </div>
</div>
